 {
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : true,
  "craftingSound" : "/sfx/interface/crafting_general1.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/dnz_header.png",
      "fileBody" : "/interface/crafting/dnz_workbench_body.png",
      "fileFooter" : "/interface/crafting/dnz_footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [350, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "  Wooden Workbench",
      "subtitle" : "  Objects and Blocks",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingfurniture.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/dnz_no_shine.png",
      "position" : [-15, 0],
      "zlevel" : -10
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [139, 258],
      "zlevel" : 5
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [115, 238],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;BLUEPRINTS"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [285, 238],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;PRODUCT"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [250, 46],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [262, 46],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [256, 45],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [300, 43],
      "caption" : "Craft"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [300, 43],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/dnz_craftbg.png",
      "position" : [226, 40],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [227, 41]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [40, 59]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [51, 58],
      "hAnchor" : "left",
      "value" : "MATERIALS AVAILABLE"
    },

    "description" : {
      "type" : "widget",
      "position" : [200, 41],
      "size" : [160, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [90, 43],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [35, 69, 204, 230],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/dnz_craftableselected2.png",
            "unselectedBG" : "/interface/crafting/dnz_craftablebackground.png",
            "spacing" : [0, 4],
            "memberSize" : [159, 28],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/dnz_craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 5],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [140, 5],
                "file" : "/interface/crafting/dnz_new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/dnz_notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "lblDoorTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_doors.png",
      "position" : [6, 223],
      "zlevel" : 3
    },
    "lblLightTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_lights.png",
      "position" : [6, 204],
      "zlevel" : 3
    },
    "lblBedTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_beds.png",
      "position" : [6, 185],
      "zlevel" : 3
    },
    "lblDecorTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_decorations.png",
      "position" : [6, 166],
      "zlevel" : 3
    },
    "lblStoreTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_storage.png",
      "position" : [6, 147],
      "zlevel" : 3
    },
    "lblMatTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_materials.png",
      "position" : [9, 128],
      "zlevel" : 3
    },
    "lblVentTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_vents.png",
      "position" : [9, 108],
      "zlevel" : 3
    },
    "lblPipesTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_pipes.png",
      "position" : [9, 88],
      "zlevel" : 3
    },
    "lblScfldTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_scaffolds.png",
      "position" : [9, 70],
      "zlevel" : 3
    },
    "lblExtraTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_extras.png",
      "position" : [6, 52],
      "zlevel" : 3	  	  
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [4, 221],
          "baseImage" : "/interface/crafting/dnz_unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/dnz_selectedTab.png",
          "data" : {
            "filter" : [ "dnz_doors" ]
          }
        },
        {
          "position" : [4, 202],
          "baseImage" : "/interface/crafting/dnz_unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/dnz_selectedTab.png",
          "data" : {
            "filter" : [ "dnz_lights" ]
          }
        },
        {
          "position" : [4, 183],
          "baseImage" : "/interface/crafting/dnz_unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/dnz_selectedTab.png",
          "data" : {
            "filter" : [ "dnz_beds" ]
          }
        },
        {
          "position" : [4, 164],
          "baseImage" : "/interface/crafting/dnz_unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/dnz_selectedTab.png",
          "data" : {
            "filter" : [ "dnz_decoration" ]
          }
        },
        {
          "position" : [4, 145],
          "baseImage" : "/interface/crafting/dnz_unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/dnz_selectedTab.png",
          "data" : {
            "filter" : [ "dnz_storage" ]
          }
        },
        {
          "position" : [4, 126],
          "baseImage" : "/interface/crafting/dnz_unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/dnz_selectedTab.png",
          "data" : {
            "filter" : [ "dnz_materials" ]
          }
        },
        {
          "position" : [4, 107],
          "baseImage" : "/interface/crafting/dnz_unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/dnz_selectedTab.png",
          "data" : {
            "filter" : [ "dnz_vents" ]
          }
        },
        {
          "position" : [4, 88],
          "baseImage" : "/interface/crafting/dnz_unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/dnz_selectedTab.png",
          "data" : {
            "filter" : [ "dnz_pipes" ]
          }
        },
        {
          "position" : [4, 69],
          "baseImage" : "/interface/crafting/dnz_unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/dnz_selectedTab.png",
          "data" : {
            "filter" : [ "dnz_scaffolds" ]
          }
        },
        {
          "position" : [4, 50],
          "baseImage" : "/interface/crafting/dnz_unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/dnz_selectedTab.png",
          "data" : {
            "filter" : [ "dnz_extras" ]  			
          }		  
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
